* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

    background-color: rgb(206, 118, 118);
}

.header {
    color: white;
    background-color: rgb(136, 29, 29);
    width: 100%;
    text-align: center;

    padding: 8px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.board > p {
    border: 2px solid rgb(0, 0, 0);
    font-size: 35px;
    padding: 32px;
    background-color: white;
    width: 100px;
    height: 105px;
    text-align: center;
}

.footer {
    background-color: rgb(88, 15, 15);
    color: white;
    width: 100%;
    text-align: center;
    height: 30px;
    padding-top: 6px;
}

/* Dialog */

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    height: 400px;
    width: 500px;
    text-align: center;

    padding: 32px;

    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

dialog::backdrop {
    background-color: rgba(90, 6, 6, 0.76);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 100%;
}

form > button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    align-self: center;
    background-color: rgb(202, 84, 84);
    color: white;
    border:  none;

    transition: all 0.3s ease-out;
}

form > button:hover {
    scale: 1.1;
    background-color: rgb(151, 62, 62);
    cursor: pointer;
}

.select-container {
    display: flex;
    justify-content: center;

    gap: 70px;
}

.selection {
    background-color: rgb(204, 162, 162);
    color: white;

    font-size: 48px;
    padding: 50px;
    border-radius: 15px;

    transition: all 0.2s ease-out;
}

.selection:hover {
    scale: 1.1;
    background-color: rgb(192, 103, 103);
    cursor: pointer;
}

.selected {
    scale: 1.1;
    background-color: rgb(192, 103, 103);
}